@{
    ViewBag.Title = "Panel de Cliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div id="mainContent" class="main">
    <h1>Bienvenido</h1>
    <p>Desde aquí puedes gestionar tus libros y ver la información general.</p>

    <div class="row">
        <div class="col">
            <div class="card">
                <h4>Libros Disponibles</h4>
                <p>245</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4>Libros Prestados</h4>
                <p>5</p>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h4>Usuarios Registrados</h4>
                <p>98</p>
            </div>
        </div>
    </div>
</div>

